{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css"
        integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'td/estilo.css' %}">
</head>

<body>
    <header>
        <div class="headerPai">
            <h1>Tarefas:</h1>
        </div>

    </header>
    <nav>
        <div class="linksPai">
            <a href="{% url 'index' %}">Início</a>
            <a href="{% url 'register' %}">Registrar</a>
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'logout' %}">Logout</a>

        </div>

    </nav>
    {% block body %}{% endblock %}
    <script src="{% static 'td/script.js' %}"></script>
</body>

</html>