{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'td/estilo.css' %}">
</head>

<body>
    <header>
        <h1>Tarefas:</h1>
    </header>
    <nav>
        <a href="#">Login</a>
        <a href="#">Logout</a>
    </nav>
    {% block body %}{% endblock %}
    <script src="{% static 'td/script.js' %}"></script>
</body>

</html>